.testimonials {
    padding-block: 2.5rem;
    overflow-x: hidden;


    @include respond-to(medium) {
        padding-block: 6.5rem;
    }

    .slider {
        margin-top: 3.5rem;

        @include respond-to(medium) {
            padding-block: 5rem;
        }
    }

    .cta {
        margin-top: 4.5rem;
    }
}