.cta {
    display: inline-block;
    font-size: 1.3rem;
    border-radius: 5rem;
    padding: 1.2rem 3.2rem;
    font-weight: var(--fs-700);

    &--bright-red {
        background-color: var(--bright-red);
        color: var(--pure-white);
        box-shadow: 0 20px 16px -16px var(--op-bright-red);
    }

    &--white {
        background-color: var(--pure-white);
    }

}