:root {
    // Primary colors
    --bright-red: hsl(12, 88%, 59%);
    --dark-blue: hsl(228, 39%, 23%);
    --op-bright-red: hsla(12, 88%, 59%, 0.7);
    // Neutral colors
    --dark-grayish-blue: hsl(227, 12%, 61%);
    --very-dark-blue: hsl(233, 12%, 13%);
    --very-pale-red: hsl(13, 100%, 96%);
    --very-light-gray: hsl(0, 0%, 98%);
    --pure-white: hsl(0, 0%, 100%);

    // Button active state
    --bright-red-active: hsl(12, 92%, 72%);

    // Font family
    --ff-primary: 'Be Vietnam', sans-serif;

    // Font sizes
    --fs-400: 400;
    --fs-500: 500;
    --fs-700: 700;

}